doctype html
html(ng-app="elementApp" lang="en")
	head
		meta(content="text/html;charset=utf-8", http-equiv="Content-Type")
		meta(content="utf-8", http-equiv="encoding")
		link(rel="stylesheet" type="text/css" href="normalize.css")
		link(rel="stylesheet" type="text/css" href="main.css")
		link(rel="stylesheet" type="text/css" href="ie.css")
		link(rel="stylesheet" type="text/css" href="cutegrids.css")
		link(rel="stylesheet" type="text/css" href="lightbox.css")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
		script(src='lib/jquery-1.11.1.min.js')
		script(src='lib/lightbox.min.js')
		title(ng-bind="title")
	body
		div(id='main-container')
			div(id='banner')
				div(id='banner-filter') 
					div(id="banner-text") 
						//span Jatilan Talli
						img(src="./media/logoSvg2.png" style="widht:150px;height:150px")
						//img(src="./media/talli.jpg" style="width:350px;height:auto; border: 2px solid white;")
			div(id="navigation-container")
				div(class="l-triangle-top")
				div(class="l-triangle-bottom")
				div(class="rectangle")
					ul(id="navigation")
						li 
							a(href='#/') Etusivu
						li Toiminta
							ul
								li 
									a(href='#/kurssit') Kurssit
								li 
									a(href='#/kisat') Kisat
								li 
									a(href='#/tunnit') Tunnit
								li 
									a(href='#/leirit') Leirit
								li 
									a(href='#/hinnat') Hinnasto
						li
							a(href='#/talli') Talli
						li 
							a(href='#/hevoset') Hevoset
						//li
							a(href='#/') Galleria
						li
							a(href='#/yhteystiedot') Yhteystiedot

				div(class="r-triangle-top")
				div(class="r-triangle-bottom")
			div(id="content-container")
				div(ng-view)
				div(id="fbFrameWrapper")
					<div id="fb-root"></div>
					<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
					<div class="fb-page" data-href="https://www.facebook.com/pages/Jatilan-talli/243123241911" data-width="500" data-height="750" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore">
					<blockquote cite="https://www.facebook.com/pages/Jatilan-talli/243123241911"><a href="https://www.facebook.com/pages/Jatilan-talli/243123241911">Jatilan talli</a></blockquote></div></div>

			footer
				div(id="footer-text")  <span style="padding-right: 15px">info@jatilantalli.fi</span> 040-5007779 / Liisa Mannermaa
	script(src='lib/angular.js')
	script(src="lib/angular-route.min.js")
	script(src='js/app.js')
	script(src="js/controllers/etusivuController.js")
	script(src="js/controllers/hinnatController.js")
	script(src="js/controllers/kurssitController.js")
	script(src="js/controllers/leiritController.js")
	script(src="js/controllers/kisatController.js")
	script(src="js/controllers/tunnitController.js")
	script(src="js/controllers/hevosetController.js")
	script(src="js/directives/leiriDescription.js")
	script(src="js/directives/hevonenDescription.js")
	script(src="js/directives/hevonenImg.js")
	script(src="js/directives/poniImg.js")
	script(src="js/imgError.js")
	script(src="js/directives/searchSelectors.js")


