div(class="row")
	div(class="cute-12-tablet")
		h2 Kisat {{Kausi}}

div(class="row")
	div(class="cute-7-tablet")
		div(class="kisat-list-container" ng-repeat="kisa in Kisat")
			table
				tr
					td(ng-click='showLeiriDescription()') {{ kisa.type }} 
					td {{ kisa.time }}
	div(class="cute-5-tablet")
		img(src="media/Kisat.jpg" style="box-shadow:2px 2px 2px grey; width:100%;height:auto")