div.row
	div.cute-12-tablet
		h2 Leirit (kesä 2015)

div(class="row")
	div(class="cute-7-tablet")

		div(class="leiri-list-container" ng-repeat="leiri in Leirit")
			table
				tr
					td {{$index + 1}}. {{ leiri.name }} 
					td {{ leiri.time }}
					td {{ leiri.price }}€
					td {{ leiri.teacher }}
					td(ng-if="leiri.full" class="leiri-full") Täynnä
						//div(leiridescription)
							i(ng-if='leiri.description != ""' class='fa fa-plus-square-o' style='float:left;text-align:left;cursor:pointer')
					
			p {{ leiri.description }}
		
		h4 Leirit täyttyvät nopeasti - varaa paikkasi pian: <a href="mailto:info@jatilantalli.fi" target="_top">info@jatilantalli.fi</a>
	div(class="cute-5-tablet")
		img(src="media/Leirit.jpg" style="box-shadow:2px 2px 2px grey; width:100%;height:auto")

div(class="leiri-description-wrapper")
			p(ng-repeat="kuvaus in Leirikuvaukset") <span>{{ kuvaus.name }} </span>: {{ kuvaus.description }}