script.
	$('fb-page').hide();
div(class="row")
	div(class="cute-12-tablet")
		h2 Talli

div.row
	div.cute-12-tablet
		img(src="media/Talli_Kentat.jpg" class="talli-image")
		div.caption  Iso talli ja kent채t
div.row
	div.cute-12-tablet
		img(src="media/Talli_Pikkutalli.jpg" class="talli-image")
		div.caption  Pikkutalli

div.row
	div.cute-12-tablet
		img(src="media/Talli_Maneesi_Kentat.jpg" class="talli-image")
		div.caption  Maneesi ja kent채t

div.row
	div.cute-12-tablet
		img(src="media/Talli_Vanha_paarakennus.jpg" class="talli-image")
		div.caption  Vanha p채채rakennus

div.row
	div.cute-12-tablet
		img(src="media/Talli_Laitumet.jpg" class="talli-image")
		div.caption  Laitumet



