div(class="row")
	div(class="cute-12-tablet")
		h2 Tunnit {{Kausi}}

div(class="row")
	
	div(class='cute-7-tablet')
		div(class='tunti-list-container' ng-repeat='tunti in Tunnit')
			table
				tr
					td <span class="tunti-list-day">{{tunti.day}}</span> ({{tunti.teacher}})

				tr(ng-repeat='lesson in tunti.lessons')
					td {{lesson.time}} {{lesson.description}}


	div(class="cute-5-tablet")
		img(src="media/three_horses.jpg" style="width:100%; height:auto; box-shadow:2px 2px 2px grey")

div(class='row')
	div(class='cute-12-tablet')
		div(class='tuntikuvaukset-title') Ryhmät
		div(class='tuntikuvaukset-list-container' ng-repeat='tk in Tuntikuvaukset')
			table
				tr
					td {{tk.name}}
				tr
					td {{tk.description}}