div(class="row")
	div(class="cute-12-tablet")
		h2 Kisat (kevät 2015)

div(class="row")
	div(class="cute-7-tablet")
		div(class="kisat-list-container" ng-repeat="kisa in Kisat")
			table
				tr
					td(ng-click='showLeiriDescription()') {{ kisa.type }} 
					td {{ kisa.time }}
	div(class="cute-5-tablet")
		//img(src="media/three_horses.jpg" style="width:100%; height:auto; box-shadow:2px 2px 2px grey")