div.row
	div.cute-12-tablet
		h2 Yhteystiedot
script.
	$('.fb-page').hide();
div(class="row")
	div(class="cute-8-tablet")
		iframe(id="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4854.818088245017!2d25.19635422067303!3d60.63997509440423!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x035d95e6ca4f914e!2sJatilan+talli!5e1!3m2!1sfi!2sfi!4v1418056336055" frameborder="0" style="border:0")
	div(class="cute-4-tablet")

		ul(id="contact-info") 
			li Puhelin 
			li 040-5007779

			li Yhteydenotot 
			li Klo 16-19 arkisin

			li Kontakti 
			li Liisa Mannermaa
