#banner
	font-family: $headingFont
	border-bottom: 0px solid transparent
	width: 1200px
	background-color: $white
	text-align: center
	background: url('media/bnrOrig.jpg')
	background-repeat: no-repeat
	background-size: 100% 100%
	$bnrHeight: 410px
	height: $bnrHeight
	line-height: $bnrHeight - 100
	color: rgba(white,0.9)
	font-size: 82px
	text-shadow:  2px 2px 2px $ribbonMainColor - 120

	//text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def
	display: inline-block



	img
		display: inline-block
		margin: 0 auto
		width: 1200px
		height: auto

	#banner-filter

		text-align: center
		display: inline-block
		margin: 0 auto
		width: 100%
		height: 100%
